fastapi==0.115.6
uvicorn==0.34.0
google-generativeai==0.8.3
pydantic==2.10.3
python-dotenv==1.0.1
python-multipart==0.0.20
python-jose==3.3.0
passlib==1.7.4
pytest==8.3.4
httpx==0.28.1
texsoup==0.3.1
sqlalchemy==2.0.41
psycopg2==2.9.10
